*{
 margin:0px;
 padding:0px;
 box-sizing: border-box;
}
nav{
    height: 60px;
    background-color: rgb(7, 0, 104);
}
.home{
    display: inline-block;
    margin:10px 20px;
}
.right{
    display: inline-block;
    width: 93%;
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    vertical-align: top;
}

nav li{
    display:inline-block;
}

.linea{
    padding: 20px 10px;
    
}
nav .linea a{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
} 
nav .linea:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(7, 132, 204);
}

#game {
    width: 200px; 
}

.card {
    background-color: brown; 
    width: 200px; 
    height: 600px;
}